*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    white-space: nowrap;
    overflow-x: auto;
    background-color: rgb(235, 232, 232);
    
    
}


.firstnav{
    height:60px;
    background-color: #0F1111;
    display:flex;
    column-gap: 3px;     
    min-width:100%;    
    
}
header .firstnav{
position:fixed;
top:0;
z-index:3;
}
.amlogo{    
    height:50px;
    padding:4px 8px 0px 6px;
    
    margin-top:6px;
    margin-left:5px;
}

.amlogo:hover{
    border:1px solid white;
    border-radius:3px;
}
.address{
    display:flex;
    flex-direction: column;
    margin:5px 2px 5px 0px;
    padding:8px 9px;
    height:50px;
    
}
.locupdate{
    display:flex;
    color:white;
    margin-top:2px;
    
}
.address:hover{
    border:1px solid white;
    border-radius:3px;
}
.searchamazon{
    display: flex;
    padding:10px 4px 10px 5px;   
    width:515px;
    margin-right:3px;   
    
}
.all{
    margin:0;
    background-color:rgb(230, 228, 228);
    height:40px;
    border:1px solid black;
    border-right:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:53px;  
    padding-top:10px;  
    padding-left:8px;
}

select{
    background-color:rgb(230, 228, 228);
    border:none;
    color:rgb(67, 66, 66);
    font-size: 12px;
}

.magnify{
    margin:0;
    background-color:rgb(250, 188, 74);
    width:53px;
    height:40px;
    border:1px solid black;
    border-left:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-top:10px;
}
.searchbar{
    width:100%;
}

.searchbar input{
    width:100%;
    height:40px;    
    border:none;
    border-top:1px solid black;
    border-bottom:1px solid black;
    font-size:1rem;
    padding-left:0.5rem;
}
.all:hover{
    background-color: rgb(171, 170, 170);
}
.all:hover select{
    background-color:rgb(171, 170, 170) ;
    color:#0F1111;
}
.magnify:hover{
    background-color: rgb(249, 171, 28);
}
.country{
    display:flex;
    color:gray;
    font-size:12px;
    margin:5px 0px 5px 1px;
    padding:14px 9px 5px;
    align-items: center;
}
.country:hover{
    border:1px solid white;
    border-radius:3px;
}
.accounts{
    display:flex;
    flex-direction: column;
    color:white;
    padding:12px 9px 10px;
    margin:5px 0px 5px 2px;
}

.acclist{
    display:flex;    
}
.accounts:hover{
    border:1px solid white;
    border-radius:3px;
    
}
.returns{
    display:flex;
    flex-direction:column;
    color:white;
    margin:5px 0px 5px 6px;
    padding:12px 9px 10px;
}
.returns:hover{
    border:1px solid white;
    border-radius:3px;
}
.cart{
    display:flex;
    color:white;
    margin:5px 0px 5px 3px;
    padding:12px 9px 10px;
}
.cart:hover{
    border:1px solid white;
    border-radius:3px;
}
.secondnav{
    height:39px;
    background-color:#232F3E;
    display:flex;
    font-size:0.85rem;
    margin-top:60px;

}

.allbar{
    display:flex;
    color:white;
    padding:8px 9px;
    margin:0px 0px 0px 5px;
}
.allbar:hover{
    border:1px solid white;
    border-radius:3px;

}
.li{
    display:flex;
    color:white;
    padding:12px 9px;
    margin:0px 0px 0px 5px;
}
.li:hover{
    border:1px solid white;
    border-radius:3px;
}
.topright{
    margin-left:55px;
}
.topright:hover{
    border:1px solid white;
    border-radius:3px;

}
.mainbg{
    background-image: url(assets/background.jpg);
    -webkit-mask-image:linear-gradient(black 80%, transparent 100%);
    mask-image:linear-gradient(black 80%, transparent 100%);
    background-size: cover;
    height:400px;
}
.row1{
    display:flex;
    justify-content: space-evenly;
    position:relative;
    bottom:140px;   

}
.box{
    height:420px;
    border:none;
    background-color:white;
    position:relative;
    z-index:2;
    width:23%;
}
.boxin{
    display:flex;
    flex-wrap:wrap;     
    justify-content: space-evenly;
    row-gap:40px;
    
}
.img{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-left:2px;
}
.img:hover,.img span:hover{
    cursor:pointer;
}
.seemore a{
    color:rgb(31, 143, 163);
    text-decoration: none;
    font-size:14px;
}
.seemore{
    margin:10% 0px 0px 15px;
}
.seemore a:hover{
    text-decoration-line: underline;
    color:orange;
}
.row1last{
    display:flex;
    flex-direction:column;
    row-gap:20px;
    width:23%;
    
}
.row1lasttop{
    
    height:160px;
    background-color: white;
    position: relative;
    z-index:2;

}
.row1lastbottom{
    
    height:240px;
    background-color: white;
    position: relative;
    z-index: 2;
}
#signin{
    padding:5px;
    margin:10px 5px 5px 21px;
    background-color: gold;
    border:transparent;
    border-radius: 8px;
    height:35px;
    width:85%;
}
#signin:hover{
    cursor: pointer;
    background-color: rgb(244, 194, 66);
}
.longrow{
    height:340px;
    position:relative;
    bottom:95px;
    background-color: white;
    width:97%;
    margin-left:19px;
    
}
.heading{
    display:flex;
    justify-content: flex-start;
    padding:15px;
    padding-top:25px;
}
.heading a{
    text-decoration: none;
    color:rgb(31, 143, 163);
    font-size:14px;
    margin:8px;
    margin-left:15px;
}
.heading a:hover{
    text-decoration-line: underline;
    color: orangered;
}
.items{
    display:flex;
    justify-content: space-evenly;
    
}
.item1{
    display: flex;
    flex-direction: column;
}
.belowitem{
    display:flex;
}
.upto{
    font-size:13px;
    background-color: #CC0C39;
    border:transparent;
    border-radius: 3px;
    padding:3px;
    color:white;
}
.item1:hover{
    cursor: pointer;
}
.streax1{
    height:230px;
    width:80%;
    background-color: white;
    position:relative;
    bottom:-25px;
    margin:auto;
}

